# Data Preparation

Useful Articles:

- [Python for Finance: Stock Portfolio Analyses](https://towardsdatascience.com/python-for-finance-stock-portfolio-analyses-6da4c3e61054)
- [Working with Time Series](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html)
- [Fix Yahoo Finance](https://github.com/ranaroussi/fix-yahoo-finance)

In [99]:
import numpy as np
import pandas as pd

# Contains path to data
danPc= r'C:\Users\New\Google Drive\ADA Assignment 2'
prices='\nyse\prices.csv'
aCompany =r'\a.csv'
#update datapath as required to read data locally
datapath = danPc+prices
compA = danPc+aCompany

In [63]:
data = pd.read_csv(datapath)
data['date'] = pd.to_datetime(data['date'])
data = data.set_index(['date'])

In [104]:
df = data.loc['2010-01-04':'2010-02-28']

In [105]:
# .unique() is useful for getting all of the unique symbols in the the open col
a = df['symbol'].unique()

In [106]:
b = df.loc[df['symbol']=='AAPL']

In [107]:
b

           symbol        open       close         low        high     volume
date
2010-01-13   AAPL  207.870005  210.650002  204.099998  210.929995  151473000
2010-01-14   AAPL  210.110003  209.430000  209.020004  210.459997  108223500
2010-01-15   AAPL  210.929995  205.930000  205.869999  211.599997  148516900
2010-01-19   AAPL  208.330002  215.039995  207.240004  215.189999  182501900
2010-01-20   AAPL  214.910006  211.730000  209.500002  215.549994  153038200
2010-01-21   AAPL  212.079994  208.069996  207.210003  213.309996  152038600
2010-01-22   AAPL  206.780006  197.750000  197.160000  207.499996  220441900
2010-01-25   AAPL  202.510002  203.070002  200.190002  204.699999  266424900
2010-01-26   AAPL  205.950001  205.940001  202.580004  213.710005  466777500
2010-01-27   AAPL  206.849995  207.880005  199.530001  210.580000  430642100
2010-01-28   AAPL  204.930004  199.289995  198.699995  205.500004  293375600
2010-01-29   AAPL  201.079996  192.060003  190.250002  202.199995  311488100
2010-02-02   AAPL  195.909998  195.859997  193.379993  196.319994  174585600
2010-02-16   AAPL  201.940002  203.399996  201.520006  203.690002  135934400
2010-02-17   AAPL  204.190001  202.550003  200.860004  204.310003  109099200
2010-02-18   AAPL  201.629995  202.929998  200.920006  203.889994  105706300
2010-02-19   AAPL  201.860001  201.669996  201.109997  203.200005  103867400
2010-02-22   AAPL  202.339998  200.419994  199.190006  202.500002   97640900
2010-02-23   AAPL  199.999998  197.059998  195.709993  201.330002  143773700
2010-02-24   AAPL  198.229998  200.660000  197.840002  201.440004  115141600
2010-02-25   AAPL  197.380005  202.000004  196.889994  202.859997  166281500
2010-02-26   AAPL  202.379999  204.619997  202.000004  205.169996  126865200
2010-02-03   AAPL  209.929998  208.850000  207.740002  210.830006  141636600
2010-01-04   AAPL  237.410000  235.969994  232.750000  238.730003  150786300
2010-01-06   AAPL  259.690002  260.830002  258.959999  265.939999  219118200
2010-02-06   AAPL  264.539993  263.949993  260.329990  264.799999  172137000
2010-01-07   AAPL  254.299999  248.480000  243.220013  254.800011  255724000
2010-02-07   AAPL  250.490005  246.939991  243.200012  250.929989  173460700
2010-02-08   AAPL  260.440006  261.849998  259.619987  262.589989  107013900
2010-01-09   AAPL  247.469990  250.330002  246.280003  251.459988  174259400
2010-02-09   AAPL  251.260010  252.169991  248.569988  252.169991  103856900
2010-01-10   AAPL  286.149994  282.520004  281.349991  286.579990  112035700
2010-01-11   AAPL  302.220001  304.179993  302.200001  305.599998  105972300
2010-02-11   AAPL  307.000004  309.360004  307.000004  310.190010  108482500
2010-01-12   AAPL  315.269993  316.400005  315.000000  317.749996  115437700
2010-02-12   AAPL  317.529991  318.150005  314.890011  319.000011  115709300

In [108]:
correct=0.0
positions =0.0
for i in range(0, (len(b)-1)):
    if b['close'][i] < b['close'][i+1]:
        print("price has increased", b['close'][i], b['close'][i+1])
        correct+=1
    positions+=1
    
print("correct percentage = ", (correct/positions*100))

price has increased 205.93 215.039995
price has increased 197.75 203.070002
price has increased 203.070002 205.940001
price has increased 205.940001 207.880005
price has increased 192.060003 195.859997
price has increased 195.859997 203.399996
price has increased 202.550003 202.929998
price has increased 197.059998 200.66
price has increased 200.66 202.000004
price has increased 202.000004 204.619997
price has increased 204.619997 208.85
price has increased 208.85 235.969994
price has increased 235.969994 260.830002
price has increased 260.830002 263.949993
price has increased 246.939991 261.849998
price has increased 250.330002 252.169991
price has increased 252.169991 282.520004
price has increased 282.520004 304.179993
price has increased 304.179993 309.360004
price has increased 309.360004 316.400005
price has increased 316.400005 318.150005
correct percentage =  60.0

In [111]:
data2 = pd.read_csv(compA)
data2['date'] = pd.to_datetime(data2['date'])
#data2 = data.set_index(['date'])
data2

KeyError: 'date'